@page "/Index"
@{
    Layout = "~/Views/shared/_dashboardLayout.cshtml"
}

<ul class="nav nav-tabs padding-18">
    <li class="active">
        <a data-toggle="tab" href="#home" aria-expanded="true">
            <i class="green ace-icon fa fa-user bigger-120"></i>
            Profile
        </a>
    </li>

    <li class="">
        <a data-toggle="tab" href="#feed" aria-expanded="false">
            <i class="orange ace-icon fa fa-rss bigger-120"></i>
            Activity Feed
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#friends">
            <i class="blue ace-icon fa fa-users bigger-120"></i>
            Friends
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#pictures">
            <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
            Pictures
        </a>
    </li>
</ul>